<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <title>Abracadabra services</title>
</head>

<body>
    <%-include('navbar')-%>
        <div class=services>
            <h1>Our Services consist of:</h1>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, inventore.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores animi repellendus dolorem
                    distinctio! Labore nemo pariatur, nulla sit ullam repudiandae!</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi quia dolorem aliquid quam saepe
                    dolore.</li>
                <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore harum corporis iste voluptatem
                    assumenda suscipit doloremque excepturi aliquam!</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>
        </div>
        <%-include('footer')-%>

</body>

</html>